@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:400,700&display=swap&subset=latin-ext');
:root{
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --pacifico: 'Pacifico', cursive;
    --orange: #FF9670;
    --darkest-blue: rgba(44, 74, 173, 0.712);
    --lightest-blue: rgba(125, 155, 255, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  url(/imgs/background.jpg) no-repeat fixed center;
    font-family: var(--roboto-condensed);
    color: #fff;
}

header{
    padding: 50px 40px 40px;
    text-align: center;
}

header #title{
    font-family: var(--pacifico);
    font-size: 70px;
    line-height: .85em;
    color: var(--orange);
}

header #description{
    padding-top: 30px;
    line-height: 1.3em;
    font-size: 1.2em;
}

.background{
    background-color: var(--darkest-blue);
    height: 100%;
}

main ul{
    list-style: none;
}

main{
    background-color: var(--lightest-blue);;
    padding: 40px;
    margin: 0 15px 0 15px;
    border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form ul li{
    font-size: 20px;
    margin: 0 0 20px;
}

form ul li input[type=text], form ul li input[type=email],form ul li input[type=number], form ul li select, form ul li textarea{
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    outline: none;
}

form ul li input[type=text]:focus, form ul li input[type=email]:focus, form ul li input[type=number]:focus, form ul li select:focus{
    box-shadow: 0 0 0 2px var(--orange);
}

form ul li select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label span{
    position: relative;
    top: -2px;
    font-size: 12px;
}

form ul li legend{
    margin-bottom: 10px;
}

.radio-container label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.radio-container label .new-radio-button{
    margin-right: 30px;
}

.radio-container input[type=radio]{
    display:none;
}

.radio-container .new-radio-button::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
}

.radio-container .new-radio-button::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transform: translate(22.5%, 22.5%);
    opacity: 0;
}

.radio-container input[type=radio]:checked ~ label .new-radio-button::after{
    opacity: 1;
}

.radio-container input[type=radio]:hover ~ label .new-radio-button::after{
    opacity: 1;
    background-color: var(--orange);
}

.checkbox-container label{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.checkbox-container input[type=checkbox]{
    display: none;
}

.checkbox-container .custom-checkbox::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    position: absolute;
}

.checkbox-container .custom-checkbox::after{
    content: "\e901";
    position: absolute;
    left: 3px;
    bottom: -3px;
    font-size: 17px;
    opacity: 0;
}

.checkbox-container .custom-checkbox{
    margin-right: 30px;
}

.checkbox-container input[type=checkbox]:checked ~ label .custom-checkbox::after{
    opacity: 1;
}

.checkbox-container input[type=checkbox]:hover ~ label .custom-checkbox::after{
    opacity: 1;
    color: var(--orange);
}












