@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:400,700&display=swap&subset=latin-ext');
:root{
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --pacifico: 'Pacifico', cursive;
    --orange: #FF9670;
    --darkest-blue: rgba(44, 74, 173, 0.712);
    --lightest-blue: rgba(125, 155, 255, 0.75);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background:  url(imgs/background.jpg) no-repeat fixed center;
    font-family: var(--roboto-condensed);
    color: #fff;
}

header{
    padding: 50px 40px 40px;
    text-align: center;
}

header #title{
    font-family: var(--pacifico);
    font-size: 70px;
    line-height: .85em;
    color: var(--orange);
}

header #description{
    padding-top: 30px;
    line-height: 1.3em;
    font-size: 1.2em;
    color: rgb(216, 213, 213);
}

.background{
    background-color: var(--darkest-blue);
    height: 100%;
}

main ul{
    list-style: none;
}

main{
    box-sizing: border-box;
    width: calc(100% - 30px);
    height: 100%;
    background-color: var(--lightest-blue);;
    padding: 40px;
    margin: auto;
}

form ul li fieldset{
    border: none;
}

form ul li fieldset legend{
    margin-bottom: 20px;
}

form ul li input::placeholder{
    color: rgb(218, 218, 218);
}

form ul li input:-ms-input-placeholder{
    color: rgb(218, 218, 218);
}

form ul li ::-webkit-input-placeholder{
    color: rgb(218, 218, 218);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form ul li{
    font-size: 20px;
    margin: 0 0 30px;
}

form ul li input[type=text], form ul li input[type=email],form ul li input[type=number], form ul li select, form ul li textarea{
    width: 100%;
    padding: 8px 15px;
    border: none;
    background-color: var(--darkest-blue);
    margin-top: 10px;
    font-size: 15px;
    outline: none;
    color: #fff;
}

form ul li input[type=text]:focus, form ul li input[type=email]:focus, form ul li input[type=number]:focus, form ul li select:focus, form ul li textarea:focus{
    box-shadow: 0 0 0 2px var(--orange), 0 2px 4px rgb(0,0,0);
}

form ul li input:invalid{
    box-shadow: 0 0 0 2px rgb(158, 51, 51), 0 2px 4px rgb(0,0,0);
}

label span{
    position: relative;
    top: -2px;
    font-size: 12px;
}

.radio-container label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.radio-container label .new-radio-button{
    margin-right: 30px;
}

.radio-container input[type=radio]{
    display:none;
}

.radio-container .new-radio-button::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(3px);
    background-color: var(--darkest-blue);
    position: absolute;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

.radio-container .new-radio-button::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    transform: translate(4px, 7px);
    -webkit-transform: translate(4px, 7px);
    -moz-transform: translate(4px, 7px);
    -ms-transform: translate(4px, 7px);
    -o-transform: translate(4px, 7px);
}

.radio-container input[type=radio]:checked ~ label .new-radio-button::after{
    opacity: 1;
}

.radio-container input[type=radio]:hover ~ label .new-radio-button::after{
    opacity: 1;
    background-color: var(--orange);
    box-shadow: 0 1px 4px rgb(0,0,0);
}

.checkbox-container label{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.checkbox-container input[type=checkbox]{
    display: none;
}

.checkbox-container .custom-checkbox::before{
    content: '';
    width: 20px;
    height: 20px;
    transform: translateY(10%);
    background-color: var(--darkest-blue);
    position: absolute;
}

.checkbox-container .custom-checkbox::after{
    content: "\e901";
    position: absolute;
    left: 1.5px;
    bottom: -2px;
    font-size: 17px;
    opacity: 0;
}

.checkbox-container .custom-checkbox{
    margin-right: 30px;
}

.checkbox-container input[type=checkbox]:checked ~ label .custom-checkbox::after{
    opacity: 1;
}

.checkbox-container input[type=checkbox]:hover ~ label .custom-checkbox::after{
    opacity: 1;
    color: var(--orange);
    box-shadow: 0 1px 4px rgb(0,0,0);
}

form ul li select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
}

.dropdown-container{
    position: relative;
}

.dropdown-container::after{
    content: '\e900';
    font-family: 'icomoon';
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    color: #fff;
    transform: translate(-31px, 18px);
    -webkit-transform: translate(-31px, 18px);
    -moz-transform: translate(-31px, 18px);
    -ms-transform: translate(-31px, 18px);
    -o-transform: translate(-31px, 18px);
}

form ul li textarea{
    resize: none;
}

form ul li input[type=submit]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: none;
    outline: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
}

form ul li input[type=submit]:hover{
    background-color: var(--orange);
    color: #fff;
    box-shadow: 0 1px 4px rgb(0,0,0);
}

@media only screen and (min-width: 482px){
    main{
        max-width: calc(100% - 60px);
    }
}

@media only screen and (min-width: 720px){
    main{
        max-width: calc(100% - 200px);
    }
}

@media only screen and (min-width: 1000px){
    main{
        max-width: 40vw;
    }
}